.error-header{
  height: 58px;
  background: #EB5757;
  width: 100%;
  .error-text{
    font-family: Roboto, sans-serif;
    font-style: normal;
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    text-align: center;
    color: #FFFFFF;

  }
}