
body {
  padding: 0;
  margin: 0;

  .backgroundShadow {
    background-color: rgba(0, 0, 0, 0.2);
    z-index: 10;
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    display: flex;
    justify-content: center;
    align-items: center;

    .login {
      width: 504px;
      height: 668px;
      background: #FFFFFF;
      border-radius: 10px;
      display: flex;
      flex-direction: column;
      justify-content: space-around;
      align-items: center;
      z-index: 20;

      .closeIcon {
        align-self: flex-end;
        margin-top: 25px;
        margin-right: 25px;
        cursor: pointer;
      }

      .login-h1 {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 32px;
        line-height: 120%;
        text-align: center;
        color: #1B1B1B;
      }

      .loginInput {
        background: #FFFFFF;
        border: 1px solid #D0CDE1;
        box-sizing: border-box;
        border-radius: 6px;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        color: #A3A0B1;
        width: 350px;
        height: 44px;
        padding: 14px 12px;

        &:focus {
          outline: none;
        }
        &::placeholder{
          font-family: Roboto, sans-serif;
          font-style: normal;
          font-weight: normal;
          font-size: 14px;
          line-height: 16px;
          color: #BDBDBD;
        }
      }

      .loginBtn {
        width: 126px;
        height: 51px;
        background: #E5E7F0;
        border-radius: 6px;
        border-style: none;
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: 500;
        font-size: 16px;
        line-height: 19px;
        color: #B4B5BD;
      }

      .registration {
        font-family: Roboto, sans-serif;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 16px;
        text-align: right;
        color: #508E87;

      }
    }
  }
}

