/*Ну что, со структурой сайта разобрались. Теперь пришло время добавить ярких красок и визуальной привлекательности */
/*нашему проекту. Застилизуем созданные ранее элементы.*/

/*Продолжаем работу над разработкой страницы сайта «О нас».*/

/*    Создавайте стили в отдельном .css файле.*/
/*    Используйте best practices при выборе селекторов.*/
/*    Старайтесь давать осознанные имена классов и идентификаторов */
/*        (вспомните о правилах именования переменных в JavaScript, это может быть полезным).*/
/*    Цвета и размеры не забывайте брать из Figma (панель CSS справа, в которой генерируются стили элементов).*/

/*Дополнительное задание:*/

/*Добавьте интерактивности. С помощью псевдокласса hover добавьте подсветку на иконки социальных сетей справа внизу */
/*(визуально выглядит удобнее, когда иконки становятся другого цвета при наведении).*/
/*                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                                               Используя hover, подсветите произвольным цветом все кнопки и ссылки, на которые пользователь может кликнуть.*/
/*Продолжите изучать accessibility. Покажите пользователю кнопки и ссылки на странице, используя свойство cursor:pointer. */
/*Это поможет ему понять, кликабельный ли элемент.*/

header {
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    margin: 31px 40px;
}

.menu {
    float: end;
    display: flex;
    align-items: center;
}

.nav {
}

.nav li {
    display: inline;
}

li a {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #1B1B1B;
    text-decoration: none;
    margin: 35px 15px;
}

.button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px 30px;
    background-color: #FFFFFF;
    margin: 23px 40px 23px 25px;
}

body {
    margin: 0;
}

p, a, h1, .button, h2 {
    font-family: Roboto;
    font-style: normal;
}


.about-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 80px 0;
}

.team_pic {
    width: 397px;
    height: 300px;
    margin: 0 0 31px 0;
}

.about-h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    margin: 30px 0;
}

.about-text {
    width: 925px;
    height: 105px;
    font-weight: normal;
    font-size: 24px;
    line-height: 147.3%;
    text-align: center;
    color: #1B1B1B;
    margin: 0;
}

.contacts-section {
    background-color: #F7F9FB;
    height: 341px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contacts-h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #1B1B1B;
    margin: 80px 0 40px 0;
}

.contacts {
    display: flex;
    justify-content: center;
    align-items: center;
}

.link {
    font-weight: normal;
    font-size: 20px;
    line-height: 147.3%;
    text-align: center;
    color: #000000;
    text-decoration: none;
    width: 259px;
    height: 29px;
    margin: 5px;
}

.label {
    font-weight: normal;
    font-size: 14px;
    line-height: 147.3%;
    text-align: center;
    color: #4F4F4F;
    margin: 0;
}

.mail-and-tel {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 69px;
}

.rectangle {
    background: #C8C8CF
}

.team-section {
    margin: 80px 0 120px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.team-men {
    margin-top: 55px;
    display: flex;
}

.team-women {
    margin-top: 60px;
    display: flex;

}
.person{
    margin: 0 40px 0;
}

.team-h2 {
    font-weight: 500;
    font-size: 48px;
    line-height: 120%;
    text-align: center;
    color: #1B1B1B;
    margin: 0;
}

.name {
    font-weight: 500;
    font-size: 20px;
    line-height: 147.3%;
    text-align: center;
    color: #000000;
    margin: 23px 0 8px
}

.position {
    font-weight: normal;
    font-size: 14px;
    line-height: 147.3%;
    text-align: center;
    color: #828282;
    margin: 0;
}

.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 124px;
    background-color: #3F3D56;
}

.copyright {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
    margin: 53px 40px 52px;
}

.social-networks {
    margin: 49px 43px;
    width: 138px;
    display: flex;
    justify-content: space-around;
}