header {
  display: flex;
  height: 90px;
  justify-content: space-between;
  align-items: center; }
  header .header-logo {
    margin: 31px 40px; }
  header .menu {
    float: end;
    display: flex;
    align-items: center; }
    header .menu .nav li {
      display: inline; }
      header .menu .nav li a {
        font-weight: normal;
        font-size: 16px;
        line-height: 19px;
        color: #1B1B1B;
        text-decoration: none;
        margin: 35px 15px; }
  header .button {
    font-weight: 500;
    font-size: 16px;
    line-height: 19px;
    border: 1px solid rgba(27, 27, 27, 0.4);
    box-sizing: border-box;
    border-radius: 6px;
    padding: 12px 30px;
    background-color: #FFFFFF;
    margin: 23px 40px 23px 25px;
    color: #1B1B1B; }
  header .menu-icon {
    display: none; }

@media screen and (max-width: 754px) {
  header {
    margin-bottom: 60px;
    height: 68px; }
    header .header-logo {
      margin: 20px; }
    header .menu {
      display: none; }
    header .menu-icon {
      display: inline;
      margin: 23px;
      border: none;
      background-color: transparent; } }

.footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 124px;
  background-color: #3F3D56; }
  .footer .copyright {
    font-weight: normal;
    font-size: 16px;
    line-height: 19px;
    color: #FFFFFF;
    opacity: 0.4;
    margin: 53px 40px 52px; }
  .footer .social-networks {
    margin: 49px 43px;
    width: 138px;
    display: flex;
    justify-content: space-around; }
  .footer .icon:hover path {
    fill: #61A199; }

@media screen and (max-width: 754px) {
  .footer {
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start; }
    .footer .copyright {
      font-size: 16px;
      line-height: 19px;
      margin: 30px 20px 16px; }
    .footer .social-networks {
      margin: 0 20px; } }

@font-face {
  font-family: 'Roboto';
  src: url("https://fonts.googleapis.com/css2?family=Roboto&display=swap"); }

body {
  font-family: Roboto, sans-serif;
  margin: 0; }

html, body {
  overflow-x: hidden; }

a, .button {
  cursor: pointer; }

.faq-section {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .faq-section .faq-h1 {
    font-weight: bold;
    font-size: 64px;
    line-height: 120%;
    text-align: center;
    color: #1B1B1B;
    margin-bottom: 30px;
    margin-top: 60px; }
  .faq-section .faq-text {
    font-size: 24px;
    line-height: 147.3%;
    margin: 0 0 60px;
    text-align: center; }

.questions {
  display: flex;
  flex-direction: column;
  align-items: center; }
  .questions .faq-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 70%; }
    .questions .faq-list dt {
      display: flex;
      justify-content: space-between;
      width: 100%; }
      .questions .faq-list dt button {
        background: #F7F7F8;
        border: none;
        border-radius: 6px;
        font-size: 20px;
        color: #1B1B1B;
        padding: 20px;
        width: 100%;
        display: flex;
        justify-content: space-between;
        text-align: left;
        margin-bottom: 15px; }
        .questions .faq-list dt button:hover {
          background: rgba(97, 161, 153, 0.1); }
        .questions .faq-list dt button[aria-expanded="false"]::after {
          content: url("src/img/arrow-down.svg");
          width: 44px;
          text-align: right; }
        .questions .faq-list dt button[aria-expanded="true"]::after {
          content: url("src/img/arrow-up.svg");
          width: 44px;
          text-align: right;
          font-weight: 500; }
        .questions .faq-list dt button [aria-expanded="true"] {
          background: rgba(97, 161, 153, 0.15);
          color: #61A199; }
    .questions .faq-list dd {
      margin: 0;
      width: 100%; }
      .questions .faq-list dd .desc {
        font-size: 20px;
        padding: 5px 22px 40px;
        width: 75%;
        margin: 0; }
      .questions .faq-list dd .hidden {
        display: none; }

@media screen and (max-width: 754px) {
  .faq-section .faq-pic {
    width: 70%; }
  .faq-section .faq-h1 {
    font-size: 32px; }
  .faq-section .faq-text {
    font-size: 16px; }
  .questions .faq-list {
    width: 90%; }
    .questions .faq-list button {
      font-size: 14px;
      line-height: 147.3%; }
  .questions .desc {
    font-size: 14px; } }
